---
import Quiz from "../components/Quiz";
import "../pages/api/questions.ts";
import "../pages/styles/Quiz.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Quiz App</title>
  </head>
  <body>
    <main>
      <Quiz client:load />
    </main>
  </body>
</html>
